# Telegram Bot Token — получить у @BotFather
# 1. Добавь бота в администраторы канала с правом **«Публикация сообщений»**
# 2. В настройках канала включи **«Обсуждения»** и привяжи группу для комментариев
# 3. Добавь бота в эту группу комментариев тоже (иначе он не сможет туда писать)
BOT_TOKEN=your_bot_token_here

# Узнать CHANNEL_ID и COMMENTS_CHAT_ID через браузер
# ДОБАВЛЯЕМ БОТА КАК АДМИНА В КАНАЛ -> В КАНАЛЕ ДЕЛАЕМ ГРУППУ(чат) -> ДОБАВЛЯЕМ В ГРУППУ БОТА -> ПИШЕМ В КАНАЛ появляются посты в группе где бот комментит
# Открой в браузере эту ссылку, подставив свой токен и `@username` канала:
# https://api.telegram.org/bot<BOT_TOKEN>/getChat?chat_id=@username_канала
# username_канала это название ссылки на канал т.е после t.me/...
# В ответе найди два поля:
# {
#   "id": -1001234567890,           <-- это CHANNEL_ID
#   "linked_chat_id": -1009876543210  <-- это COMMENTS_CHAT_ID
# }

CHANNEL_ID=-123456789
COMMENTS_CHAT_ID=-123456789

# Groq API Key — получить на https://console.groq.com
GROQ_API_KEY=your_groq_api_key

# GEMINI API
# Бесплатно на [aistudio.google.com](https://aistudio.google.com) → Get API Key → Create API Key
# GEMINI_API_KEY=your_gemini_api_key

# Режим цензора: paranoid | unpredictable | escalating | random(for any)
CENSOR_MODE=escalating

# Путь к базе данных, хранит историю сообщений
DB_PATH=censor_history.db